{
  "extends": "airbnb",
  "globals": {},
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "max-len": [
      "error",
      80,
      2,
      {
        "ignoreComments": false,
        "ignoreRegExpLiterals": false,
        "ignoreStrings": false,
        "ignoreTemplateLiterals": false,
        "ignoreUrls": false
      }
    ],
    "no-await-in-loop": "error",
    "no-compare-neg-zero": "error",
    "no-multi-assign": "error",
    "nonblock-statement-body-position": "error",
    "operator-linebreak": [
      "error",
      "before",
      {
        "overrides": {
          "+=": "after",
          "=": "after"
        }
      }
    ],
    "prefer-destructuring": "error",
    "prefer-promise-reject-errors": "error",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-sort-props": "error",
    "react/prefer-stateless-function": "off",
    "sort-keys": "error",
    "sort-vars": "error",
    "template-tag-spacing": "error"
  }
}
